body {
    background-color: #000;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

header {
    text-align: center;
    padding: 20px;
    background-color: #000;
    border-bottom: 2px solid #00ff00;
    position: sticky;
    top: 0;
    z-index: 1000;
	display: flex;
    justify-content: space-between;
    align-items: center;
}


.files-tab {
    position: relative;
    display: flex;
    align-items: center;
}

.files-button {
    background: none;
    border: 2px solid #00ff00;
    color: #00ff00;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, color 0.3s;
}

.files-button:hover {
    background: #00ff00;
    color: #000;
}

.files-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: #000;
    border: 2px solid #00ff00;
    padding: 10px;
    z-index: 1000;
}

.files-dropdown a {
    color: #00ff00;
    text-decoration: none;
    display: block;
    margin: 5px 0;
    transition: color 0.3s;
}

.files-dropdown a:hover {
    color: #0f0;
}

.files-tab:hover .files-dropdown {
    display: block;
}

main {
    padding: 20px;
    overflow-y: auto; 
    height: calc(100vh - 120px); 
}

.semester {
    margin-bottom: 40px;
}

.semester h2 {
    border-bottom: 2px solid #00ff00;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.semester ul {
    list-style-type: none;
    padding: 0;
}

.semester li {
    margin-bottom: 20px;
}

.semester li h3 {
    margin: 0 0 10px 0;
}

.semester li p {
    margin: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    border-top: 2px solid #00ff00;
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

@keyframes falling {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(100vh); opacity: 0; }
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 255, 0, 0.1), rgba(0, 255, 0, 0.1));
    z-index: -1;
}

body::before, body::after {
    animation: falling 10s linear infinite;
}